   div {
       height: 200px;
       width: 200px;
       border: 2px solid red;
       margin: 50px;
   }
   
   .degradados {
       background: linear-gradient( to 20deg, blue 56%, red 30%, green 80%, yellow 100%);
   }